body {
  background: steelblue;
  font-family: monospace;
}

button.btn {
  border-radius: 6px;
  padding: 15px;
  margin: 5px;
  background: bisque;
  font-family: monospace;
  font-size: 14px;
  outline: none;
  cursor: pointer;
}

.pn-subscribe-button, .pn-unsupported-info, .pn-has-subscription-info {
  display: none;
}

body.pn-supported .pn-subscribe-button {
  display: block;
}

body.pn-supported.pn-has-subscription .pn-subscribe-button {
  display: none;
}

body.pn-unsupported .pn-unsupported-info {
  display: block;
  color: white;
}

body.pn-supported.pn-has-subscription .pn-has-subscription-info {
  display: block;
}